<mat-card>
  <h2>{{title}}</h2>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="usageForm" novalidate>
      <table>
        <tr>
          <td>
            <mat-radio-group class="radio-group" formControlName="boatID" required>
              <label> Boat Number</label>
              <mat-radio-button class="radio-button" *ngFor="let id of boats" [value]="id">
                {{id}}
              </mat-radio-button>
              <mat-error *ngIf="formErrors.boatID">
                {{formErrors.boatID}}
              </mat-error>
            </mat-radio-group>
            <br />
          </td>
          <td>
            <table>
              <tr>
                <mat-input-container>
                  <input matInput type="number" placeholder="Duration in hours" [min]="0" formControlName="duration" required>
                  <mat-error *ngIf="formErrors.duration">
                    {{formErrors.duration}}
                  </mat-error>
                </mat-input-container>
              </tr>
              <tr>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a Date" required [max]="maxDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker [startAt]="maxDate"></mat-datepicker>
                  <mat-error *ngIf="formErrors.date">
                    {{formErrors.date}}
                  </mat-error>
                </mat-form-field>
                <mat-datepicker #picker></mat-datepicker>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br  />
    <button mat-raised-button color="accent" type="submit">Submit</button>
    </form>

  </mat-card-content>
</mat-card>
<last-uses  fxLayout="row" fxLayout.lt-md="column"></last-uses>
<app-usage-graphs fxLayout="row" fxLayout.lt-md="column"></app-usage-graphs>
