mat-toolbar.mat-toolbar {
    height: auto !important;
    padding: 0 0 0 0;
    padding-top: 2px;
    margin-bottom: 8px;
    z-index: 10;
    position:relative
}

/deep/ .mat-tab-header {
    color: white !important;
    border-radius: 5px 5px 0px 0px;
}

/deep/ .mat-tab-link {
    font-size: 16px;
    line-height: 28px !important;
    height: auto !important;
    opacity: 1 !important;
    color: lightsteelblue !important;
}
/deep/ .mat-tab-label-active{
    color: white !important;
}

/deep/ .mat-ink-bar {
    background-color: #0077c2 !important;
    min-width: 120px;
}

.fullscreen
{
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
