language: node_js
node_js:
   - '8'

branches:
   only:
      - master
      - /^greenkeeper/.*$/

before_script:
   - npm install -g firebase-tools
   - npm install -g @angular/cli

script:
   - ng build --prod --aot

deploy:
   provider: firebase
   token: $FIREBASE_TOKEN
   project: NPYC-UsageMaintenanceTracker
   skip_cleanup: true
   on:
      branch: master
