language: node_js
node_js:
  - '8'
cache:
  directories:
    - node_modules
branches:
   only:
     - master
     - /^greenkeeper/.*$/

before_script:
  - npm install -g firebase-tools
  - npm install -g @angular/cli


script:
  - ng build --prod --aot

before_deploy:
  - cd functions; npm install
  - cd ../
deploy:
   provider: firebase
   token: $FIREBASE_TOKEN
   project: default
   skip_cleanup: true
   on:
      branch: master

notifications:
  email:
    on_failure: change
    on_success: change
