service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /boatBreakages/{doc} {
      allow read, write;
    }
    match /boatBreakagesFixed/{doc} {
      allow read, write;
    }
    match /boatUsage/{doc} {
      allow read, write;
    }

    match /safetyDocs/{doc} {
        allow read;
        allow write: if isAdmin();
    }

    match /userProfile/{profile} {
        allow read;
        allow write: if false;
    }

    match /boats/{boat} {
      allow read;
      allow write: if isAdmin();
    }


    function isAdmin() {
     return 'admin' == getRole();
    }

    function getRole() {
         return get(/databases/$(database)/documents/userProfile/$(request.auth.uid)).data.role;
    }
  }
}
