.breakage-card {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width:1279px) {
  .breakage-card {
    padding-bottom: 0px;
  }

}

.breakage-card-left {
  width: 200px;
}

.breakage-card-list {
  list-style-type: none;
  padding-left: 0px;
}

.breakage-card-details {
  padding-right: 16px;
  margin-right: 24px;
}

.remove-button {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

/deep/ .mat-card-image {
  max-height: 300px !important;
  margin-bottom: -6px !important; 
  object-fit: cover;
}

@media (min-width:600px) {
  /deep/ .mat-card-image {
    margin-bottom: -6px !important;
    min-height:350px !important;
    object-fit: cover;
    display: inline-block;
  }
}

.largeActions {
  margin-bottom: 0px;
}
