a {
  text-decoration: none;
}

a:hover{
  color: #29b6f6 !important;
}

a:hover.app-dark{
  color: #29b6f6 !important;
}
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

/deep/ .mat-tab-link {
  line-height: 28px !important;
  height: 28px !important;
}

/deep/ .mat-tab-header {
  color: white !important;
  border-radius: 5px 5px 0px 0px;
}

/deep/ .mat-tab-link {
  font-size: 16px;
  opacity: 1 !important;
  color: white !important;
}

/deep/ .mat-ink-bar {
  background-color: #0077c2 !important;
  min-width: 120px;
}
