<mat-card>
  <h2>{{title}}</h2>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="breakageForm" novalidate>

      <h3>Personal Details</h3>

      <mat-input-container class="full-width"> <input matInput type="text" placeholder="Name" formControlName="name" required>
        <mat-error *ngIf="formErrors.name">
          {{formErrors.name}}
        </mat-error>
      </mat-input-container>

      <mat-input-container class="full-width">
        <input matInput type="email" placeholder="Contact" formControlName="contact">
        <mat-error *ngIf="formErrors.contact">
          {{formErrors.contact}}
        </mat-error>
      </mat-input-container>

      <h3>Breakage Info</h3>
      <mat-form-field>
        <mat-select placeholder="Boat Number" formControlName="boatID" required>
          <mat-option *ngFor="let id of boats" [value]="id">{{id}}</mat-option>
          <mat-error *ngIf="formErrors.boatID">
            {{formErrors.boatID}}
          </mat-error>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-select placeholder="Importance" formControlName="importance" required>
          <mat-option *ngFor="let id of levels" [value]="id">{{id}}</mat-option>
          <mat-error *ngIf="formErrors.importance">
            {{formErrors.importance}}
          </mat-error>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-select placeholder="Part" formControlName="part" required>
          <mat-option *ngFor="let p of parts" [value]="p">{{p}}</mat-option>
          <mat-error *ngIf="formErrors.part">
            {{formErrors.part}}
          </mat-error>
        </mat-select>
      </mat-form-field>

      <mat-input-container class="full-width">
        <textarea matInput type="text" placeholder="Describe the Issue" formControlName="details" #details required rows="4" maxlength="256"> </textarea>
        <mat-hint align="end">{{details.value.length}} / 256</mat-hint>
        <mat-error *ngIf="formErrors.details">
          {{formErrors.details}}
        </mat-error>
      </mat-input-container>

      <br />
      <br />
      <button mat-raised-button color="accent" type="submit">Submit</button>
    </form>

  </mat-card-content>
</mat-card>
<mat-progress-bar mode="indeterminate" *ngIf="breakages.length <= 0"></mat-progress-bar>
<breakage-card [breakages]="breakages" (onRemove)="openDialog($event)"></breakage-card>
