<mat-card>
  <span>
  <button style="width:150px; text-align:left;" mat-button [matMenuTriggerFor]="sort"><mat-icon>sort</mat-icon>{{sortBy}}</button>
  <mat-menu #sort="matMenu">
    <button mat-menu-item *ngFor="let sort of sortList" (click)="changeSort(sort)"> {{sort}}</button>
  </mat-menu>
  </span>
  <span>
  <button mat-button [matMenuTriggerFor]="filter"><mat-icon>filter_list</mat-icon> Filter by Boat</button>
  <mat-menu #filter="matMenu">
    <button mat-menu-item *ngFor="let filter of filterList" (click)="addFilter(filter)"> {{filter}} </button>
  </mat-menu>
</span>
  <span>
<button mat-button [matMenuTriggerFor]="Pfilter"><mat-icon>filter_list</mat-icon> Filter by Part</button>
<mat-menu #Pfilter="matMenu">
  <button mat-menu-item *ngFor="let filter of partfilterList" (click)="addPartFilter(filter)"> {{filter}} </button>
</mat-menu>
</span>

  <mat-chip-list>
    <mat-chip *ngFor="let filter of appliedFilters" (click)="addFilter(filter) " selected="true"> {{filter}}
      <mat-icon style="font-size:16px;height:16px;width:16px;">cancel</mat-icon>
    </mat-chip>
    <mat-chip *ngFor="let filter of partappliedFilters" (click)="addPartFilter(filter)" selected="true"> {{filter}}
      <mat-icon style="font-size:16px;height:16px;width:16px;">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</mat-card>
