<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Platform Users
      </mat-panel-title>
      <mat-panel-description>
        View users and give them admin privileges
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
      <h3 mat-subheader>Users</h3>
      <mat-list-item *ngFor="let user of users; let i = index">
        <h4 mat-line>{{user.name}}</h4>
        <p mat-line> {{user.email}} </p>
        <mat-checkbox matTooltip="Mark user as Admin" [(ngModel)]="usersRole[i]">Admin</mat-checkbox>
        <button mat-stroked-button (click)="save(i)"> Save </button>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
