<mat-card [style.backgroundColor]="getBGColour(item.importance)" class="breakage-card" *ngFor="let item of breakages">
  <mat-card-header>
    <img *ngIf="getBoatName(item.boatID)" mat-card-avatar src="assets/images/boat_{{item.boatID}}.webp" alt={{getBoatName(item.boatID)}} />
    <mat-card-title><b>{{getBoatName(item.boatID)}}</b><br /></mat-card-title>
    <mat-card-subtitle>{{getImportanceName(item.importance)}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayout.lt-md="column" fxFlex>
      <div class="breakage-card-left">
        <ul class="breakage-card-list">
          <li *ngIf="item.part">
            <b>Part:</b> {{item.part}}
          </li>
          <li>
            <b>Reported by:</b> {{item.name}}
          </li>
          <li>
            {{item.contact}}
          </li>
          <li *ngIf="item.timestamp">
            <b>Reported:</b> {{dateDisplay(item.timestamp)}}
          </li>
          <li *ngIf="item.timestampFixed">
            <b>Fixed:</b> {{dateDisplay(item.timestampFixed)}}
          </li>
        </ul>
      </div>

      <div fxFlex>
        <p class="breakage-card-details">
          <b>Details:</b> <br /> {{item.details}}
        </p>
      </div>

      <div class="imageDiv" fxFlex>
        <div fxLayout="col">
          <div fxFlex="calc(50% -100px)"></div>
          <div fxFlex>
            <cl-image *ngIf="item.imageID" quality="auto" fetch_format="auto" width="200" crop="scale" public-id={{item.imageID}}>

            </cl-image>
          </div>
          <div fxFlex="calc(50% -100px)"></div>
        </div>
      </div>
    </div>


  </mat-card-content>
  <mat-card-actions *ngIf="buttonText">
    <button mat-button color="warn" (click)="openDialog(item)"><b>{{buttonText}}</b></button>
  </mat-card-actions>

</mat-card>
