.breakage-card {
  margin-top: 10px;
}

.breakage-card-left {
  width: 200px;
}

.breakage-card-list {
  list-style-type: none;
  padding-left: 0px;
}

.breakage-card-details {
  padding-right: 20px;
}

.remove-button {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

/deep/
.mat-card-image{
  margin-left: -8px !important;
}
@media (min-width:600px){
  /deep/
  .mat-card-image{
    margin-left: 12px !important;
    max-width: 100% !important;
  }
}
