<mat-card>

  <div fxLayout='row' fxLayout.lt-lg='column'>

    <div fxLayout='column'>
      <div fxFlex>
        <span>
        <button style="width:150px; text-align:left;" mat-button [matMenuTriggerFor]="sort"><mat-icon>sort</mat-icon>{{sortBy}}</button>
        <mat-menu #sort="matMenu">
          <button mat-menu-item *ngFor="let sort of sortList" (click)="changeSort(sort)"> {{sort}}</button>
        </mat-menu>
        </span>
        <span>
          <button mat-button [matMenuTriggerFor]="filter"><mat-icon>filter_list</mat-icon> Filter by Boat</button>
          <mat-menu #filter="matMenu">
            <button mat-menu-item *ngFor="let filter of filterList" (click)="addFilter(filter.id)"> {{filter.name}} </button>
          </mat-menu>
        </span>
        <span>
          <button mat-button [matMenuTriggerFor]="Pfilter"><mat-icon>filter_list</mat-icon> Filter by Part</button>
          <mat-menu #Pfilter="matMenu">
            <button mat-menu-item *ngFor="let filter of partfilterList" (click)="addPartFilter(filter)"> {{filter}} </button>
          </mat-menu>
        </span>
      </div>
      <div fxFlex style="padding-bottom: 8px;">
        <mat-chip-list>
          <mat-chip *ngFor="let filter of appliedFilters" (click)="addFilter(filter) " selected="true"> {{getBoatName(filter)}}
            <mat-icon style="font-size:16px;height:16px;width:16px;">cancel</mat-icon>
          </mat-chip>
          <mat-chip *ngFor="let filter of partappliedFilters" (click)="addPartFilter(filter)" selected="true"> {{filter}}
            <mat-icon style="font-size:16px;height:16px;width:16px;">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div fxFlex></div>
    <div fxFlex style="margin-left:16px">
      Between Dates <br>
      <mat-form-field>
        <input matInput #startPicker (focus)="startPicker.open()" (click)="startPicker.open()" [matDatepicker]="startPicker" [max]="startMaxDate" placeholder="Start Date" readonly (dateInput)="selectStart($event)">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput #endPicker (focus)="endPicker.open()" (click)="endPicker.open()" [matDatepicker]="endPicker" [max]="endMaxDate" [min]="endMinDate" placeholder="End Date" readonly (dateInput)="selectEnd($event)">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
      <br>
      <button  style="margin-left:-16px" mat-button type="button" (click)="clearDates()">Clear Dates</button>
    </div>
  </div>

</mat-card>
