<mat-toolbar color="primary">
  <button style="margin-left:5px;" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  <span id="menuSpacer"></span>
  <span><img id="menuLogo" src="assets/images/logoNoText.png" alt="WYST Logo" /></span>
  <span id="menuSpacer"></span>
  <span id="menuTitle">
    {{title}}
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="toolbar-spacer"></span>

  <span fxHide.lt-md>
    <nav mat-tab-nav-bar>
      <a mat-tab-link
          *ngFor="let routeLink of routeLinks; let i = index"
          [routerLink]="routeLink.link"
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">
          {{routeLink.label}}
      </a>
    </nav>
  </span>
</mat-toolbar>

<mat-sidenav-container class="content" fullscreen [class.app-dark]="isDarkTheme">
  <mat-sidenav class="sidenav" #sidenav mode="push">
    <img id="logo-image-drawer" src="assets/images/logo.png" alt="WYST Logo" />
    <mat-nav-list>
      <a mat-list-item *ngFor="let routeLink of routeLinks; let i = index" [routerLink]="routeLink.link" (click)="sidenav.close()">
          {{routeLink.label}}
      </a>
    </mat-nav-list>
    <br />
    <button mat-button (click)="toggleDark(); sidenav.close()">TOGGLE DARK THEME</button>
    <mat-list style="position: relative; height: auto; padding-top:64px">
      <a style="text-decoration: none;" href="https://laserflash.tk/" mat-list-item>
      ©2017 BrynTBennett
    </a>
      <a style="text-decoration: none;" href="https://github.com/LaserFlash/WYST-Maintenance" mat-list-item>
      <img width="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/github.svg" /> &nbsp; Source Code
    </a>
    </mat-list>
  </mat-sidenav>
  <div id="scrollId"></div>
  <div class="sidenav-content">
    <div fxLayout="row">
      <div fxFlex.gt-lg="calc(50% -1000px)" fxFlex="20" fxFlex.lt-md="2"></div>
      <div fxFlex.gt-lg="1280px" fxFlex>
        <router-outlet></router-outlet>
      </div>
      <div fxFlex.gt-lg="calc(50% -1000px)" fxFlex="20" fxFlex.lt-md="2"></div>
    </div>
  </div>
</mat-sidenav-container>
