<mat-card fxFlex="70" fxFlex.lt-md="98" style="height:100%;" class="card_bottom_pad print-no-split">
  <mat-card-title>{{chartTitle}}</mat-card-title>
  <mat-card-content>
    <canvas baseChart [datasets]="chartData" [colors]="colors" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [chartType]="chartType"></canvas>
  </mat-card-content>
</mat-card>

<mat-card fxFlex="30" fxFlex.lt-md="98" style="height:100%;" class="card_bottom_pad print-no-split">
  <mat-card-title>Usage Last Month</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let item of usageLastMonth; ">
        <img matListAvatar src="assets/images/boat_{{item.boat}}.png" onerror="if (this.src !== 'assets/images/noImage.png') this.src = 'assets/images/noImage.png';" alt={{getBoatName(item.boat)}} />
        <h3 matLine> {{getBoatName(item.boat)}} </h3>
        <p matLine>
          <span mat-line>{{item.duration | number:'.0-2' }} hours</span>
        </p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>