a {
    text-decoration: none;
}

a:hover{
    color: #29b6f6 !important;
}

a:hover.app-dark{
    color: #29b6f6 !important;
}
.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}

@media print{
    .form {
        min-width: 25cm;
    }
}
