<mat-card [style.backgroundColor]="getBGColour(item.importance)" class="breakage-card" *ngFor="let item of breakages">

  <div fxLayout="row" fxLayout.lt-lg=column>
    <div fxFlex="grow" style="display: inline-block;">
      <mat-card-header>
        <img *ngIf="getBoatName(item.boatID)" mat-card-avatar src="assets/images/boat_{{item.boatID}}.png" onerror="if (this.src !== 'assets/images/noImage.png') this.src = 'assets/images/noImage.png';" alt={{getBoatName(item.boatID)}} />
        <mat-card-title><b>{{getBoatName(item.boatID)}}</b><br /></mat-card-title>
        <mat-card-subtitle>{{getImportanceName(item.importance)}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayout.xs="column" fxFlex>
          <div class="breakage-card-left">
            <ul class="breakage-card-list">
              <li *ngIf="item.part">
                <b>Part:</b> {{item.part}}
              </li>
              <li>
                <b>Reported by:</b> {{item.name}}
              </li>
              <li *ngIf="item.contact">
                <b>Contact:</b> {{item.contact}}
              </li>
              <li *ngIf="item.timestamp">
                <b>Reported:</b> {{makeDate(item.timestamp) | date}}
              </li>
              <li *ngIf="item.timestampFixed">
                <b>Fixed:</b> {{makeDate(item.timestampFixed.toDate()) | date}}
              </li>
            </ul>
          </div>

          <div fxFlex>
            <p class="breakage-card-details">
              <b>Details:</b> <br /> {{item.details}}
            </p>
          </div>
        </div>

      </mat-card-content>

      <mat-card-actions class="largeActions" fxHide.lt-lg *ngIf="buttonText">
        <button mat-flat-button color="warn" (click)="openDialog(item)"><b>{{buttonText}}</b></button>
      </mat-card-actions>
    </div>

    <div fxFlex=30 *ngIf="item.imageID" (click)="openModal(item.imageID)">
      <img fxHide.lt-lg mat-card-image src="https://res.cloudinary.com/dhnh6uqep/image/upload/q_auto/w_900,/c_scale,e_blur:1000,u_{{getUnderlay(item.imageID)}},w_900,h_1800,c_fill,/v1/{{item.imageID}}" />
      <img fxHide fxHide.lt-lg=false mat-card-image src="https://res.cloudinary.com/dhnh6uqep/image/upload/q_auto/h_600,/c_scale,e_blur:600,u_{{getUnderlay(item.imageID)}},w_1200,h_600,c_fill/v1/{{item.imageID}}" />
    </div>

  </div>
  <mat-card-actions fxHide fxHide.lt-lg=false *ngIf="buttonText">
    <button mat-flat-button color="warn" (click)="openDialog(item)"><b>{{buttonText}}</b></button>
  </mat-card-actions>
</mat-card>