.breakage-card {
  background-image: url('../images/yacht.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}

.separator {
  margin: 8px;
}

.logo-image {
  height: 55px;
}

.logo-image-drawer {
  height: 150px;
}

.navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

  .navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #1c54af;
  }


.navigation-container {
  direction: rtl;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  justify-content: flex-end;
  width: 800px;
}

/**** Mobile layout ****/
@media (max-width: 900px) {
  .navigation-container {
    display: none;
  }
}

.portfolio-header {
  position: relative;
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

img.article-image {
  width: 100%;
  height: auto;
}

.breakageReport-max-width {
  max-width: 900px;
  margin: auto;
}

.no-padding {
  padding: 0;
}

.no-left-padding {
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.breakageReport form {
  max-width: 550px;
  margin: auto;
}

body {
  background-color: #424242;
}

footer {
  background-size: cover;
}
