  <mat-expansion-panel fxFlex class="usageCard">
    <mat-expansion-panel-header class="headerMinHeight smallPadding">
      <mat-panel-title class="titleMinWidth">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="assets/images/boat_{{usage.boatID}}.png" onerror="if (this.src !== 'assets/images/noImage.png') this.src = 'assets/images/noImage.png';" alt={{getBoatName(usage.boatID)}} />
            <h3 matLine> {{getBoatName(usage.boatID)}} </h3>
          </mat-list-item>
        </mat-list>
      </mat-panel-title>
      <mat-panel-description fxLayout="row" fxLayout.lt-sm="column">
        <!-- Driver Name Block -->
        <mat-list fxFlex class="listPadding">
          <mat-list-item class="nameWidth">
            <span>{{usage.driver}}</span>
          </mat-list-item>
        </mat-list>

        <!--Date Time Block -->
        <mat-list fxFlex>
          <mat-list-item>
            <span mat-line>{{usage.endTime.toDate() | date}}</span>
            <span mat-line>{{shortDuration(usage.duration)}} hours</span>
          </mat-list-item>
        </mat-list>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="contentTopDivider" fxLayout="row" fxLayout.lt-sm="column">
      <!--Other Crew List -->
      <div fxFlex="40" *ngIf="usage.otherCrew.length > 1">
        <h3 class="listHeading">Crew:</h3>
        <mat-list class="compactList">
          <mat-list-item *ngFor="let person of usage.otherCrew">
            {{person.name}}
          </mat-list-item>
        </mat-list>
      </div>

      <mat-divider *ngIf="usage.otherCrew.length > 1" [vertical]="true"></mat-divider>

      <!-- Weather Conditions -->
      <div fxFlex>
        <h3 class="listHeading">Conditions:</h3>
        <mat-list class="compactList">
          <mat-list-item>
            <span class="listItemTitle">Wind Strength:</span>
            <span>{{getWindSpeed(usage.windSpeed)}}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="listItemTitle">Wind Direction:</span>
            <span>{{getWindDirection(usage.windDirection)}}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="listItemTitle">Sea State:</span>
            <span>{{getSeaState(usage.waterState)}}</span>
          </mat-list-item>
        </mat-list>

      </div>
    </div>

  </mat-expansion-panel>
